<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <content ng-controller="ContentCtrl as content">
            <table>
                <tr>
                    <td>
                        <button type="button" ng-click="gameChange()">game change</button>
                        <div>
                            Total: {{change.total}}
                        </div>
                        <div>
                            Vin: {{change.vin}}
                        </div>
                        <div>
                            Fail: {{change.fail}}
                        </div>
                    </td>
                    <td>
                        <button type="button" ng-click="gameNoChange()">game no change</button>

                        <div>
                            Total: {{nochange.total}}
                        </div>
                        <div>
                            Vin: {{nochange.vin}}
                        </div>
                        <div>
                            Fail: {{nochange.fail}}
                        </div>
                    </td>
                </tr>
            </table>
        </content>

        <script type="text/javascript" src="include/angular.js"></script>
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/components/ContentCtrl.js"></script>
        <script type="text/javascript" src="app/services/Api.js"></script>
    </body>
</html>